extends base

block content
  main.main
    .success
      .success__title
        h2.heading-secondary Purchase was Successful   
        br 
        //- h2.error__emoji 😢 🤯
      .success__msg Please check your email for more information about the purchase
      br
      a.btn.btn--green.span-all-rows(href='/') Go to Home Page